# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Arham Jain
	email = 86415475+arhamj@users.noreply.github.com
	signingkey = /Users/arhmjn/.ssh/id_ed25519.pub
[url "git@github.com:"]
	insteadOf = https://github.com/
[core]
	excludesfile = /Users/arhmjn/.gitignore_global
[commit]
	gpgsign = true
[gpg]
	format = ssh
[init]
	defaultBranch = main
